# Part 1: Basics of Python
<a id='part1'></a>

## Numbers: Basic Calculation
<a id='1a'></a>

In [ ]:
# addition (integer)
3+5

In [ ]:
# addition (float)
1.5+3.99

In [ ]:
# multiplication
7*9

In [ ]:
# division
100/10

In [ ]:
# modulo
10%4

In [ ]:
# Powers
7**2

----
---

> ### Exercise A
> 1. Calculate the area of a circle with radius of 9 meter (Area of a circle = π • r$^2$).
> 2. Calculate the approximate volume of the Earth (R$_{earth}$ ~ 6371 km; Volume of a sphere = 4/3 • π • r$^3$)

In [ ]:
# Q1
3.14 * (9**2)

In [ ]:
# Q2
4/3 * 3.14 * 6371**3

----
---

In [ ]:
# Roots
49**0.5

In [ ]:
# Order of Operations
2 * 3 + 1 * 5

In [ ]:
# Use parentheses to make it more readable
(2*3) + (1*5)

### Assigning to Variable

In [ ]:
a = 5
b = 12

In [ ]:
a+b

----
---

> ### Exercise B
> 1. Convert the variable `temperature` below from Celcius to Fahrenheit.

In [ ]:
temperature = 30 # this in ˚C

In [ ]:
# Write your answer here

----
---

### Some rules about naming a variable:
1. You cannot put spaces in the name.
2. The name should begin with letter, not number.

In [ ]:
# reassigning a variable
a = 3
a

In [ ]:
a = 12
a

# be careful about the name of the variable that you use!

## Strings
<a id='1b'></a>

In [ ]:
'Komitmen'

In [ ]:
# can also use double quote
"Komitmen"

In [ ]:
# how to print a string
print('Komitmen')

### Indexing

In [ ]:
k = 'komitmen'

In [ ]:
# indexing in python starts from 0!
k[0]

In [ ]:
k[1]

In [ ]:
k[-1]

In [ ]:
k[-2]

### Slicing

In [ ]:
# use : to perform slicing
k[0:2] # identical with --> k[:2]

In [ ]:
k[2:5]

In [ ]:
k[-2:]

In [ ]:
# more complex slicing
k[1:6:2]

# komitmen

### Concatenating String

In [ ]:
print('komit' + 'men')

In [ ]:
print('komit', 'men')

----
---

> ### Exercise C
Use indexing or slicing to get:
> 1. `i`
> 2. `omi`
> 3. `tmen`
> 4. `kmte`

In [ ]:
k = 'komitmen'

In [ ]:
# Answer Q1
k[3]

In [ ]:
# Answer Q2
k[1:4]

In [ ]:
# Answer Q3
k[4:]

In [ ]:
# Answer Q4
k[0::2]

----
---

## List
<a id='1c'></a>

In [ ]:
new_list = [1,2,3,4,5]
new_list

In [ ]:
# slicing through list
new_list[:2]

In [ ]:
# list can have more than one type of object inside it
combined_list = ['AAA', 8, 17, 'x']
combined_list

In [ ]:
# you can concatenate list with another list
new_list + combined_list

In [ ]:
# list inside a list!
matrix = [[1,2,3], [4,5,6], [7,8,9]]
matrix

In [ ]:
# indexing
matrix[2]

In [ ]:
# more specific indexing
matrix[1][2]

In [ ]:
# you can change the value of any index
matrix[1][2] = 999
matrix

## Booleans
<a id='1d'></a>

In [ ]:
a = True

In [ ]:
a

In [ ]:
5 > 6

In [ ]:
3 == 3

In [ ]:
3 == 3.2

In [ ]:
'Monday' == 'Monday'

# Quick Introduction to Looping
<a id='part2'></a>

## For Loop
<a id='2a'></a>

In [ ]:
names = ['Kemaal', 'Royhand', 'Saldew']

In [ ]:
for name in names:
    print(name)

----
---

> ### Exercise D
> 1. Make a list of your 3 favorite foods, and print each of them using for loop.

In [ ]:
# Answer here

foods = []

----
---

## if statement
<a id='2b'></a>

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

In [ ]:
for number in numbers:
    if number < 5:
        print(number)

In [ ]:
# and operator
for number in numbers:
    if (number < 6) & (number >= 2):
        print(number)

In [ ]:
for number in numbers:
    if number == 3:
        print(number)

In [ ]:
for number in numbers:
    if number != 3:
        print(number)

In [ ]:
# or operator
for number in numbers:
    if (number == 3) | (number ==5):
        print(number)

In [ ]:
names = ['Kemaal', 'Royhand', 'Saldew']

for name in names:
    if name == 'Kemaal':
        print('Direktur Komitmen')

## elif statement
<a id='2c'></a>

In [ ]:
for name in names:
    if name == 'Kemaal':
        print(name + ': Direktur Komitmen')
    elif name == 'Royhand':
        print(name + ': Deputi Komitmen')

## else statement
<a id='2d'></a>

In [ ]:
for name in names:
    if name == 'Kemaal':
        print(name + ': Direktur Komitmen')
    else:
        print(name + ': Bukan Direktur')

----
---

> ### Exercise E
> 1. Try to print only 3 __or__ 7 from `numbers` using the `for loop`. (hint: use the or operator `|`)
> 2. Print each `number` in `numbers`. But if `number` = 3, print `'SAN'`, if `number` == 5, print `'GO'` and if `number` == 7, print `'NANA'`.

In [ ]:
numbers = [1,2,3,4,5,6,7,8]

In [ ]:
# Q1
for number in numbers:
    if (number == 3) | (number == 7):
        print(number)

In [ ]:
# Q2
for number in numbers:
    if number == 3:
        print('SAN')
    elif number == 5:
        print('GO')
    elif number == 7:
        print('NANA')
    else:
        print(number)

__Expected output for question 2:__

1<br>
2<br>
SAN<br>
4<br>
GO<br>
6<br>
NANA<br>
8<br>

----
---

# Xarray
<a id='part3'></a>

In [ ]:
import numpy as np
import xarray as xr
import matplotlib.pyplot as plt

## What is Dataset? What is DataArray?
<a id='3a'></a>

In [ ]:
dataset = xr.tutorial.open_dataset("air_temperature")

In [ ]:
dataset

In [ ]:
# how to call the dataarray

dataset.air

# or you can use: dataset['air']

### Checking the coordinates

In [ ]:
dataset.coords

In [ ]:
dataset.lat

In [ ]:
dataset.lon

In [ ]:
dataset.time

### Checking the attributes

In [ ]:
dataset.attrs

### Visualizing the data

In [ ]:
dataset

In [ ]:
dataset.air.isel(time=1).plot()

## Indexing and Selecting Data
<a id='3b'></a>
More detail: http://xarray.pydata.org/en/stable/indexing.html

### `.sel`
Use `.sel` when you want to go to a specific coordinate.

In [ ]:
# choose 1 year

dataset.sel(time='2013')

In [ ]:
# choose 1 month

dataset.sel(time='2013-01')

In [ ]:
# choose 1 day

dataset.sel(time='2013-01-01')

In [ ]:
# to be more specific

dataset.sel(time='2013-01-01T06')

In [ ]:
# you can also select lat and lon

dataset.sel(lat=50.31, lon=220.79, method='nearest')

----
---

> ### Exercise F
> 1. Select data at `time = 6 PM, 25 February 2014`.
> 2. Select data at `lat = 17.15` and `lon = 300.9` in `March 2013`.
> 3. Select data for `2014 April `.

In [ ]:
# Question 1

dataset.sel(time='2014-02-25T18')

In [ ]:
# Question 2
dataset.sel(lat=17.15, lon=300.9, time='2013-03', method='nearest')

In [ ]:
# Question 3
dataset.sel(time='2014-04')

----
---

### `.isel`
Use `.isel` when you want select coordinate by the order of the index.

In [ ]:
# the second time index

dataset.air.isel(time=1)

In [ ]:
# the third time index

dataset.air.isel(time=2)

In [ ]:
# the last time index

dataset.air.isel(time=-1)

----
---

> ### Exercise G
> 1. Select the 10th time index
> 2. Select the second last time index

In [ ]:
# Question 1
dataset.isel(time=10)

In [ ]:
# Question 2
dataset.isel(time=-2)

----
---

### Slicing

In [ ]:
# in case you're only interested in the data from 5th to 8th Jan 2013

dataset.sel(time=slice('2013-01-05', '2013-01-08'))

In [ ]:
# you can also slice latitude and longitude

dataset.sel(lat=slice(100,10), 
            lon=slice(220, 800))

----
---

> ### Exercise H
> Slice the dataset only from December 2013 to February 2014, latitude from 50 to 100 and longitude from 220 to 245.

In [ ]:
# Answer
dataset.sel(time=slice('2013-12', '2014-02'), lat=slice(100,50), lon=slice(220,245))

----
---

## Mean, Max, Min, Stdv
<a id='3c'></a>

In [ ]:
# select the january 2013 data

ds_jan2013 = dataset.sel(time='2013-01').air

In [ ]:
# time mean

jan2013_ave = ds_jan2013.mean(dim='time')
jan2013_ave

In [ ]:
# see what the data looks like
jan2013_ave.plot(cmap='RdBu_r')

In [ ]:
# max

ds_jan2013.max(dim='time')

In [ ]:
# standard deviation

ds_jan2013.std(dim='time')

In [ ]:
# area mean

area_mean_jan2013=ds_jan2013.mean(dim=['lat', 'lon'])
area_mean_jan2013

In [ ]:
# when you plot it, it'll automatically produce a graph (bcs the lat & lon dimensions have been reduced)
area_mean_jan2013.plot()

----
---

> ### Exercise I
> Average the latitude and time dimensions of `ds_jan2013`.

In [ ]:
# answer

ds_jan2013.mean(dim=['lat', 'time'])

----
---

## Groupby
<a id='3d'></a>

In [ ]:
# groupby the month
dataset.air.groupby('time.month')

In [ ]:
# average each month
monthly_climatology = dataset.air.groupby('time.month').mean('time')
monthly_climatology

In [ ]:
# the details on how to plot will be explained later

fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=[12,4])

monthly_climatology.sel(month=12).plot(ax=ax1, vmin=240, vmax=300, extend='both', 
                                      add_colorbar=False, cmap='turbo')
im=monthly_climatology.sel(month=6).plot(ax=ax2, vmin=240, vmax=300, extend='both', 
                                         add_colorbar=False, cmap='turbo')

cbar=fig.colorbar(im, extend='both', ax=(ax1,ax2))

In the higher latitude, during Summer (Jun-Aug) the temperature is warmer.

In [ ]:
# group by the year
yearly=dataset.air.groupby('time.year').mean('time')
yearly

In [ ]:
temperature_difference = yearly.sel(year=2014) - yearly.sel(year=2013)

temperature_difference.plot(cbar_kwargs={'label':'Temperature Difference'})

----
---

> ### Exercise J
> Try to group the data by the hour of the time (hint: use `time.hour`). And select the 6 AM data.

In [ ]:
# answer

dataset.air.groupby('time.hour').mean('time').sel(hour=6)

----
---

## Resampling
<a id='3e'></a>

In [ ]:
# 6 hourly into daily

daily=dataset.resample(time='D').mean('time')
daily

In [ ]:
# 6 hourly into monthly

monthly=dataset.resample(time='MS').mean('time')
monthly

In [ ]:
# plot to see the difference
plt.figure(dpi=300, figsize=[9,3])

daily.air.mean(['lat','lon']).plot(label='daily')
monthly.air.mean(['lat','lon']).plot(marker='o', label='monthly')

# turn on the legend
plt.legend()

## Computation
<a id='3f'></a>

In [ ]:
ds_jan2013

In [ ]:
# convert to ˚C

ds_jan2013_celcius = ds_jan2013 - 273.15
ds_jan2013_celcius

In [ ]:
fig, (ax1, ax2) = plt.subplots(ncols=2, figsize=[12,4])

ds_jan2013.mean('time').plot(ax=ax1, cmap='turbo', cbar_kwargs={'label':'Air Temperature [K]'})
ds_jan2013_celcius.mean('time').plot(ax=ax2, cmap='turbo', cbar_kwargs={'label':'Air Temperature [˚C]'})

ax1.set_title('Air Temperature in Kelvin (Jan 2013)')
ax2.set_title('Air Temperature in Celcius (Jan 2013)')

In [ ]:
# calculation between 2 dataarrays

first_jan = ds_jan2013.isel(time=0)
last_jan = ds_jan2013.isel(time=-1)

first_minus_last = first_jan - last_jan

In [ ]:
first_minus_last.plot()

plt.title('1 Jan 2013 minus 31 Jan 2013')

----
---

> ### Exercise K
> Convert `ds_jan2013_celcius` to Fahrenheit. Assign it to variable `ds_jan2013_fahrenheit`.  Select the first time index using `.isel(time=0)`. And lastly, plot it using `.plot()`.

In [ ]:
# answer

ds_jan2013_fahrenheit = ((9/5) * ds_jan2013_celcius) + 32

ds_jan2013_fahrenheit.isel(time=0).plot()

----
---

## Plotting
<a id='3g'></a>
We'll play around using `ds_jan2013` and `monthly` which already created before.

__Rule: to plot, you need a `DataArray` with 2 (or less) dimensions.__

In [ ]:
ds_jan2013

# you cannot plot this because you still have 3 dimensions

In [ ]:
example = ds_jan2013.isel(time=15)
example

# you can plot this, check the coordinates only lat and lon now

In [ ]:
example.plot()

In [ ]:
# if you have only 1 dimension left, it will automatically produce graph when you plot it

example.sel(lat=37, method='nearest')

In [ ]:
example.sel(lat=37, method='nearest').plot()

### Some settings that you can change

In [ ]:
fig, ax1 = plt.subplots(dpi=300, # higher dpi higher figure quality
                       figsize=[9,3]) # the width and height of the figure, respectively

example.plot(ax=ax1, # assign the axis
             cmap='Spectral', # change the colormap here
             vmin=240, # set the lower value of the colorbar
             vmax=300, # set the upper value of the colorbar
            cbar_kwargs={'shrink':0.7, # shrink the colorbar
                        'label':'colorbar label here'}) 

ax1.set_title('Write the title here')

# Final Exercise
<a id='part4'></a>
### 1. Compare the temperature difference in December 2013 and December 2014
> Steps: 
> 1. Using `.sel()` select the 2013-12 data. Then average it using `.mean('time')`. Assign to a variable named `dec2013`.
> 2. Do the same for 2014-12 (assign it to a variable with name `dec2014`).
> 3. Substract the 2013 with the 2014 one (assign to variable named `dec_difference`). 
> 4. Plot `dec_difference` using `.plot()`.

In [ ]:
# answer here
dec2013 = dataset.air.sel(time='2013-12').mean('time')
dec2014 = dataset.air.sel(time='2014-12').mean('time')
dec_difference = dec2013 - dec2014

dec_difference.plot()

### 2. Slice the `dec_difference` above to latitude: 40-60˚N and longitude: 240-280˚E
> Steps: 
> 1. Slice the latitude using `.sel()`. Repeat for longitude.
> 2. Change the colormap into 'winter'.

In [ ]:
# answer here
dec_difference.sel(lat=slice(60,40), lon=slice(240,280)).plot(cmap='winter')

### 3. Compute the area average of `monthly_climatology`
> Steps: 
> 1. Remember `.mean(dim=[])`
> 2. After the area is averaged, plot it using `.plot()`.

In [ ]:
# answer here
monthly_climatology.mean(['lat', 'lon']).plot()

#### If you want to learn more about xarray: https://xarray-contrib.github.io/xarray-tutorial/index.html